---
layout: 'with_header/index.njk'
title: 'marx'
subtitle: 'inbox'
myData:
  list:
    - apple
    - banana
    - carrot
    - donut

---

<h2>{{ subtitle }}</h2>

{% renderFile './_includes/list_pure/index.11ty.js', myData %}
