<!DOCTYPE html>
<html>
  <head>
    <style>
{% include 'index.css' %}
    </style>


    <meta charset="UTF-8">
    <!-- <base href="https://uniglobalunion-surveys.org/"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover">-->
    <!--<meta name="viewport" content="height=device-height,
                      width=device-width, initial-scale=1.0,
                      minimum-scale=1.0, maximum-scale=1.0,
                      user-scalable=no, target-densitydpi=device-dpi">-->
    <link rel="stylesheet" href="./js/cookieconsent-2.8.2/src/cookieconsent.css" media="print" onload="this.media='all'">

{% include 'social_metadata.html' %}

{% include 'favicons.html' %}

    <script defer src="./js/cookieconsent-2.8.2/src/cookieconsent.js"></script>
    <script defer src="./js/cookieconsent-init.js"></script>

    <script>
        function onReadyTF(){
            //frame = document.getElementById('ifrm');
            console.log('Ready');
            //frame.focus();
        }
    </script>

{% include 'meta_pixel.html' %}
{% include 'gtag.html' %}

  </head>

  <body>
{% include 'nav_list.html' %}

    <div class="surveyintro">
      <h2>Tell us what it’s like to work for Amazon</h2>
      <p>Representing more than 20 million workers in 150 countries, UNI Global Union is driven by the responsibility to ensure that service jobs are decent jobs, and that workers’ rights are protected. We believe that <b>working people should have their voices heard</b>, and should be free to discuss the realities of day-to-day life on the job.</p>
      <p>In our research so far, many <b>Amazon workers from all over the world report stress and anxiety</b> due to intense work pace and intrusive technological monitoring of their performance.</p>
      <p>We want to gain a better understanding of Amazon’s workplace monitoring systems and how you feel they have impacted you as a worker. Please <b>help us ensure Amazon workers like yourself are treated with respect</b>.</p>
      <p>This survey is made by unions, for workers. It’s just a few questions. We take your privacy seriously and will process your answers according to our privacy policies, which you can find <a href="https://uniglobalunion-surveys.org/privacy">here</a>. Your answers will be kept completely anonymous.</p>

      <div id="survey-button-cont">
        <a id="surveybutton" href='survey.html'>Agree & Start</a>
      </div>

      <script>
        if (window.location.href.includes('?')){
          var urlParams = window.location.href.split('?')[1];
          var hrefLink = "survey?" + urlParams
          document.getElementById("surveybutton").setAttribute("href", hrefLink);
        }
      </script>

      </div>

  </body>

</html>
