---
permalink: 'survey.html'
---
<!DOCTYPE html>
<html>
  <head>
    <style>

      @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');



    </style>

    <style>*{margin:0;padding:0;} html,body,#wrapper{width:100%;height:100%;} iframe{border-radius:0 !important;}</style>


    <meta charset="UTF-8">
    <!-- <base href="https://uniglobalunion-surveys.org/"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover">-->
    <!--<meta name="viewport" content="height=device-height,
                      width=device-width, initial-scale=1.0,
                      minimum-scale=1.0, maximum-scale=1.0,
                      user-scalable=no, target-densitydpi=device-dpi">-->
    <link rel="stylesheet" href="./js/cookieconsent-2.8.2/src/cookieconsent.css" media="print" onload="this.media='all'">

{% include 'social_metadata.html' %}

{% include 'favicons.html' %}

    <script defer src="./js/cookieconsent-2.8.2/src/cookieconsent.js"></script>
    <script defer src="./js/cookieconsent-init-survey.js"></script>
    <!--<script defer>
        if (cc.getUserPreferences().accepted_categories.length == 0){window.location.replace('https://www.uniglobalunion-surveys.org')}
    </script>-->

    <script>
        function onReadyTF(){
            //frame = document.getElementById('ifrm');
            console.log('Ready');
            //frame.focus();
        }
    </script>

{% include 'meta_pixel.html' %}
{% include 'gtag.html' %}

  </head>

    <body>
        <div id="wrapper" data-tf-widget="Dh9KDmVa" data-tf-inline-on-mobile data-tf-medium="snippet" data-tf-transitive-search-params="src,aud,ad,aes,em">
        </div>
        <script src="//embed.typeform.com/next/embed.js"></script>

    </body>
</html>
