---
permalink: 'thankyou.html'
---
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./css/font-awesome-4.7.0/css/font-awesome.min.css">
    <style>

      @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

{% include 'thankyou.css' %}



    </style>


    <meta charset="UTF-8">
    <!-- <base href="https://uniglobalunion-surveys.org/"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./js/cookieconsent-2.8.2/src/cookieconsent.css" media="print" onload="this.media='all'">

{% include 'social_metadata.html' %}

{% include 'favicons.html' %}

    <script defer src="./js/cookieconsent-2.8.2/src/cookieconsent.js"></script>
    <script defer src="./js/cookieconsent-init.js"></script>

    <!-- Copy Link Functionality  -->
    <script>
        function copyLink(){

            const copyLinkNotice = document.getElementById('share-text');
            navigator.clipboard.writeText("https://uniglobalunion-surveys.org/");
            copyLinkNotice.innerHTML = 'Survey link copied';
            //copyLinkNotice.style.display = 'block';
            setTimeout(function() { // start a delay

              copyLinkNotice.style.opacity = 1; // set opacity for the element to 1
              var timerId = setInterval(function() { // start interval loop
                var opacity = copyLinkNotice.style.opacity; // get current opacity
                if (opacity <= 0) { // check if its 0 yet
                  clearInterval(timerId); // if so, exit from interval loop
                } else {
                  copyLinkNotice.style.opacity = opacity - 0.03; // else remove 0.05 from opacity
                }
              },30); // run every 0.1 second
            },30); // wait to run after 1 seconds

        }
        
        function showSocialText(buttonId) {
            
            const shareText = document.getElementById('share-text');
            
            if (buttonId.toString().includes('link')){
                
                shareText.innerHTML = buttonId;
                
            } else {
                
                shareText.innerHTML = 'Share on ' + buttonId;
                
            }
            shareText.style.opacity= 1;
        }
        
        function hideSocialText() {
            
            const shareText = document.getElementById('share-text');
            shareText.innerHTML = '';
            shareText.style.opacity= 0;
            
        }
        
    </script>
    <!-- End Copy Link Functionality -->

{% include 'meta_pixel.html' %}
{% include 'gtag.html' %}
  </head>

  <body>
{% include 'nav_list.html' %}
    <div class="thankyoutext">
      <h2>Thank you!</h2>

        <div id="v1"> <!-- current non-driver-->
          <p>Thank you so much for your participation. Your answers will help us campaign to make sure Amazon workers like yourself are treated with the respect they deserve.</p>
          <p>If you can, please share this survey with your co-workers. Every answer matters.</p>
        </div>
        <div id="v2"> <!-- former non-driver-->
          <p>Thank you so much for your participation. Your answers will help us campaign to make sure Amazon workers are treated with the respect they deserve.</p>
          <p>If you can, please share this survey with your former co-workers. Every answer matters.</p>
        </div>
        <div id="v3"> <!-- current driver-->
          <p>Thank you so much for your participation. Your answers will help us campaign to make sure Amazon workers like yourself are treated with the respect they deserve.</p>
          <p>If you can, please share this survey with your fellow Amazon drivers. Every answer matters.</p>
        </div>
        <div id="v4"> <!-- former driver-->
          <p>Thank you so much for your participation. Your answers will help us campaign to make sure Amazon workers are treated with the respect they deserve.</p>
          <p>If you can, please share this survey with any Amazon drivers you know. Every answer matters. </p>
        </div>
        <div id="v5"> <!-- not recently / never employed -->
          <p>This survey is about elevating the voices of Amazon workers. It’s very important that our answers come from current and former employees of Amazon.</p>
          <p>You can still do your part to help make sure Amazon workers are treated with the respect they deserve. If you know anyone who works for Amazon, please share this survey with them. Every answer matters.</p>
        </div>

        <script>
          const queryString = window.location.search;
          const urlParams = new URLSearchParams(queryString);
          var tyversion = "v" + urlParams.get('v');
          console.log("tyversion = " + tyversion);
          document.getElementById(tyversion).style.display = "inherit";
        </script>

        <div class="sharecontainer">

            <!-- Add font awesome icons -->
            <a href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Funiglobalunion-surveys.org%2F" class="fa fa-facebook" target="_blank" id="Facebook" onmouseover="showSocialText(this.id)" onmouseleave="hideSocialText()" onclick="hideSocialText()"></a>
            <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Funiglobalunion-surveys.org%2F" class="fa fa-twitter" target="_blank" id="Twitter" onmouseover="showSocialText(this.id)" onmouseleave="hideSocialText()" onclick="hideSocialText()"></a>
            <a href="https://wa.me/?text=https%3A%2F%2Funiglobalunion-surveys.org%2F" class="fa fa-whatsapp" target="_blank" id="WhatsApp" onmouseover="showSocialText(this.id)" onmouseleave="hideSocialText()" onclick="hideSocialText()"></a>
            <a onclick="copyLink();" class="fa fa-link" id="Copy survey link" onmouseover="showSocialText(this.id)" onmouseleave="hideSocialText()" ></a>
        </div>
        <p class='thankyoutext' id='share-text'></p>

    </div>
  </body>

</html>
